In [17]:
import pandas as pd
df = pd.read_csv('fire data.csv')
df1 = df.where(df['FIRE_TYPE'] == 'Primary Fire').dropna()
df2 = df.where(df['FIRE_TYPE'] == 'Non-Primary Fire').dropna()

In [18]:
df1.style.background_gradient(cmap='Reds')

In [10]:
df2.style.background_gradient(cmap='Reds')